<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong>Service Name: </strong>
            <input type="text" ng-model="newService.serviceName" class="form-control">
        </div>

        <div class="row">
            <strong>Description</strong>
            <input type="text" ng-model="newService.description" class="form-control">
        </div>

        <div class="row">
            <strong>Category</strong>
            <input type="text" ng-model="newService.category" class="form-control">
        </div>

        <div class="row">
            <strong>Address</strong>
            <input type="text" ng-model="newService.address" class="form-control">
        </div>

        <div class="row">
            <strong>Price</strong>
            <input type="number" ng-model="newService.price" class="form-control">
        </div>

        <div class="row">
            <strong>Offer Descripiton </strong>
            <input type="text" ng-model="newService.offerDescription" class="form-control">
        </div>

        <div class="row">
            <strong>Beginning Working Hours</strong>
            <input type="time" ng-model="newService.beginWorkingHours" class="form-control">
        </div>

        <div class="row">
            <strong>Ending Working Hours</strong>
            <input type="time" ng-model="newService.endWorkingHours" class="form-control">
        </div>

        <div class="row">
            <strong>Website Link</strong>
            <input type="url" ng-model="newService.WebsiteURL" class="form-control">
         </div>

            <div class="row">
                <strong>Facebook Page</strong>
                <input type="url" ng-model="newService.endWorkingHours" class="form-control">
            </div>


            <div class="row"><div class="button" ngf-select ng-model="newService.img" name="file" ngf-pattern="'image/*'"
            accept="image/*" >Select a Picture</div></div>




        <button ng-click="createService()">Add Service</button>
    </div>
</div>
