<nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Project name</a>
         </div>



         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             <li><a ui-sref="search">Services <span class="sr-only">(current)</span></a></li>

             <li><a ui-sref="createService">Login</a></li>
             <li><a ui-sref="updateRating">rate</a></li>
             <li><a ui-sref="updateRating">rate</a></li>
             <div class="classWithPad">
              <button type="button"  class="btn btn-primary btn-sm" ng-click = "deleteService()">Delete Service</button>
            </div>

           </ul>
         </div><!--/.nav-collapse -->

         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-left">


           </ul>
         </div><!--/.nav-collapse -->

       </div><!--/.container-fluid -->

     </nav>
