
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<!--commeny-->
        <div class="col-xs-12 col-md-4">
            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New Service</h3>
                <form class="form" method="POST" action="/project">
                    <div class="form-group">
                        <label for="servicename">Service name</label>
                        <input name = "servicename" type="text" class="form-control" id="servicename" placeholder="Title">
                    </div>

                    <div class="form-group">
                        <label for="category">Service Category</label>
                        <input type="text" name="category" id="category" value="<%= locals.username || '' %>" class="form-control" />
                    </div>
                    <!--<a href="/images" class="btn btn-link">Add image</a>-->

                    <label for="servicename">Add a picture</label>
                    <form method="post", enctype="multipart/form-data">
                       <input type= "file" name="myimage" />
                       <input type= "submit" name="submit" value= "submit">
                 </form>
                    <button type="submit" class="btn btn-default">Add Service</button>

                    <a href="/myServices" class="btn btn-link">profile</a>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
