<html>
<head>
<title>Change Reservtion</title>
</head>
<Body background = "">
<H1>Change Reservition</H1>
<pre>
<form method = "post">
UserName : <input type="text" name="userName">
ServiceName:<input type="text" name="ServiceName">
old reservation date : <input type="date" name="old_reservation_date">
old reservation hour : <input type="number" name="old_reservation_hour">
new reservation date : <input type="date" name="new_reservation_date">
new reservation hour : <input type="number" name="new_reservation_hour">
</pre>
<button type = "submit">change</button>
</form>
</Body>
</html>
