<html>
<head>
</head>
<body>
<div class="container">

        <div class="row">

  					<div class="col-xs-16 col-md-12">
  	            <div class="row">

                  <% for(var i=0; i<services.length; i++){%>
                  <div class="card col-xs-4">
                      <h4 class="card-title"> <%= services[i].category %></h4>
                      <h4 class="card-title"> <%= services[i].location %></h4>
                  </div>
              <% } %>
  	            </div>
          </div>

        </div>

</body>
</html>
