<!DOCTYPE html>
<html>
<body>
<body>
      <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <% for(var i=0; i<services.length; i++){%>
                    <div class="card col-xs-4">
                         <button onclick="getDetails()" id = _id type="button" class="btn btn-primary btn-md" name = "<%= services[i]._id%>"  value = services[i]._id ><a href="/service">service</a></button>
                         <h4 class="card-title"> <%= services[i].location %></h4>
                         <h4 class="card-title"> <%= services[i].category %></h4>
                         <h4 class="card-title"> <%= services[i].rating %></h4>                         
                    </div>
                <% } %>
            </div>
        </div>
</html>
<body>
<html