<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script src="serviceController.js"></script>

	<script>
    $( document ).ready(function() {
        console.log( "document loaded" );
				var Category = document.getElementById("Category1").innerText;
				console.log(Category);
    });

    $( window ).on( "load", function() {
        console.log( "window loaded" );
    });
    </script>

</head>
<body>
<div class="container">
      <div class="row">

					<div class="col-xs-16 col-md-12">

	          <h3 class="text-muted">Category</h3>
	          <button type="button" id = "Category1" class="btn btn-primary btn-md"><a href="Category1">Category1</a></button>
            <button type="button" id = "Category2" class="btn btn-primary btn-md" >Category2</button>
            <button type="button" id = "Category" class="btn btn-primary btn-md">Category3</button>
            <button type="button" id = "Category" class="btn btn-primary btn-md"><a href="Category4">Category4</a></button>

	        </div>

        </div>

				<div class="row">

						<div class="col-xs-16 col-md-12">


		           <h3 class="text-muted">Location</h3>
		          <button type="button" id = "Location" class="btn btn-primary btn-md" ><a href="Location1">Location1</a></button>
	            <button type="button" id = "Location" class="btn btn-primary btn-md" >Location2</button>
	            <button type="button" id = "Location" class="btn btn-primary btn-md">Location3</button>
	            <button type="button" id = "Location" class="btn btn-primary btn-md"><a href="Category4">Location4</a></button>

		        </div>

	        </div>

					<div class="row">

							<div class="col-xs-16 col-md-12">
			           <h3 class="text-muted">Recently Added</h3>
		             <button type="button" id = "Date" class="btn btn-primary btn-md"><a href="Date">Recently Added</a></button>
								 <h3 class="text-muted">Offers</h3>
								 <button type="button" id = "Offers" class="btn btn-primary btn-md"><a href="Offers">Current Offers</a></button>
								 <h3 class="text-muted">Rating</h3>
								 <button type="button" id = "Offers" class="btn btn-primary btn-md"><a href="Rating">Rating</a></button>
			        </div>
		        </div>

						<div>

						<form name="" method="get" action="/location-suggestions" role="form" class="form-vertical" novalidate="novalidate" autocomplete="off">

						    <label for="cityId" class="required">Choose a location</label>
						    <select id="myselect">
						    <option value="1">Mr</option>
						    <option value="2">Mrs</option>
						    <option value="3">Ms</option>
						    <option value="4">Dr</option>
						    <option value="5">Prof</option>
						</select>

						<button type="submit" id="button" name="button" class="btn btn-primary btn-block">Show services</button>
					</form>

						</div>


  <form action="/createService" method="post">
		<div class="form-group">
			<label>category</label>
			<input type="text" class="form-control" name="category">
		</div>
    <div class="form-group">
			<label>location</label>
			<input type="text" class="form-control" name="location">
		</div>
		<div class="form-group">
			<label>Rate</label>
			<input type="text" class="form-control" name="rating">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">submit</button>
	</form>

  <form action="/updateService" method="post">
    <div class="form-group">
      <label>category</label>
      <input type="text" class="form-control" name="category">
    </div>
    <div class="form-group">
      <label>location</label>
      <input type="text" class="form-control" name="location">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">update</button>
  </form>
</div>


</body>
</html>
