<html>

<div class="js-location-search location-search location-search-main-page  location_city_area  ">
    <div class="location-search-inner">
        <form name="" method="get" action="/location-suggestions" role="form" class="form-vertical" novalidate="novalidate" autocomplete="off">
                    <div class="city">
    <label for="cityId" class="required">Enter your city</label>
    <select id="cityId" name="cityId" required="required" data-prefill="location.cityId" class="form-control" placeholder="Enter a city">
    <option value="">Enter a city</option>
    <option value="7">Alexandria</option>
    <option value="9">Asuit</option>
    <option value="1826" selected="selected">Cairo</option>
    <option value="13">Hurghada</option>
    <option value="12">Mansoura</option>
    <option value="10">Port Said</option>
    <option value="8">Tanta</option></select>

  </html>
