<!DOCTYPE html>
<html>
<body>

<body>
    
 
<div>
         <form action="/createService" method="post">
		 <div class="form-group">
			<label>category</label>
			<input type="text" class="form-control" name="category">
		</div>
        <div class="form-group">
			<label>location</label>
			<input type="text" class="form-control" name="location">
		</div>
		<div class="form-group">
			<label>Rate</label>
			<input type="text" class="form-control" name="rating">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">submit</button>
	</form>
</div>

<div>
       <button type="button" id = "Location" class="btn btn-primary btn-md" ><a href="servicess">services</a></button>
</div>
        

</html>
<body>
<html