<!doctype html>
<html>
<head>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span></span> Profile </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <form action="/update" method="get">
		    <div class="form-group">
	      	<button type="submit" class="btn btn-warning btn-lg">update</button>
	     </form>

    </div>



</body>
</html>
