<html>
<head>
<title>Reserve</title>
</head>
<Body background = "">
<H1>Reserve</H1>
<pre>
<form method = "post">
UserName : <input type="text" name="userName">
ServiceName:<input type="text" name="serviceName">
begin_work: <input type="number" name="begin_work">
end_work : <input type="number" name="end_work">
working_days : <input type="text" name="working_days">
reservation_date : <input type="date" name="reservation_date">
reservation_hour : <input type="number" name="reservation_hour">
</pre>
<button type = "submit">Reserve</button>
</form>
</Body>
</html>
