
<html>
<head>
</head>
<form action="/createReview" method="post">
		<div class="form-group">
			<label>Review</label>
			<input type="text" class="form-control" name="review">
		</div>
    <div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>

    <div class="form-group">
			<label>Service Name</label>
			<input type="text" class="form-control" name="servicename">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">submit</button>
	</form
</html>
