<!DOCTYPE html>
<html>
<body>
<h1 class="card-title"> <%= service.location %></h1>
<h2 class="card-title"> <%= service.category %></h2>
<h3 class="card-title"> <%= service.rating %></h3>
</body>
</html>
