<!DOCTYPE html>
<html>
<body>
<h1 class="card-title"> <%= service[0].location %></h1>
<h2 class="card-title"> <%= service[0].category %></h2>
<h3 class="card-title"> <%= service[0].rating %></h3>
</body>
</html>
