<!DOCTYPE html>
<html>
<body>
<body>
      <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <% for(var i=0; i<servicex.length; i++){%>
                    <div class="card col-xs-4">
                         <h4 class="card-title"> <%= servicex[0].location %></h4>
                         <h4 class="card-title"> <%= servicex[0].category %></h4>
                         <h4 class="card-title"> <%= servicex[0].rating %></h4>                         
                    </div>
                <% } %>
            </div>
        </div>
</html>
<body>
<html