<html>
<head>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
    $( document ).ready(function() {
        console.log( "document loaded" );
    });

    $( window ).on( "load", function() {
        console.log( "window loaded" );
    });
    </script>
</head>
<body>
<div class="container">



      <div class="row">

					<div class="col-xs-16 col-md-12">

						<script>
			     $('#Category').click(function(){
					  $.post('/test')
			      });
	         </script>
	           <h3 class="text-muted">Category</h3>
	          <button type="button" id = "Category1" class="btn btn-primary btn-md" >
							<a href="Category1">Category1</a></button>
            <button type="button" id = "Category" class="btn btn-primary btn-md">Category2</button>
            <button type="button" id = "Category" class="btn btn-primary btn-md">Category3</button>
            <button type="button" id = "Category" class="btn btn-primary btn-md"><a href="Category4">Category4</a></button>

	        </div>

        </div>


  <form action="/createService" method="post">
		<div class="form-group">
			<label>category</label>
			<input type="text" class="form-control" name="category">
		</div>
    <div class="form-group">
			<label>location</label>
			<input type="text" class="form-control" name="location">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">submit</button>
	</form>

  <form action="/updateService" method="post">
    <div class="form-group">
      <label>category</label>
      <input type="text" class="form-control" name="category">
    </div>
    <div class="form-group">
      <label>location</label>
      <input type="text" class="form-control" name="location">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">update</button>
  </form>










</body>
</html>
